.mini-cart-wrapper{
    width: 350px;
    height: 350px;
    overflow-y: scroll;
    background-color: white;
}
.mini-cart-wrapper::-webkit-scrollbar {
    width: 5px;
    box-shadow: inset 0 0 7px #11010125;
    border-radius: 10px;
  }
  .mini-cart-wrapper::-webkit-scrollbar-thumb {
    background: linear-gradient(220deg, #005bab, #00ffbb90);
    border-radius: 10px;
    cursor: pointer;
}

#dropdown-menu-align-responsive-1{
    padding: 0;
}
#dropdown-menu-align-responsive-1::after{
    position: absolute;
    opacity: 0;
}

.mini-cart-wrapper ul{
    list-style-type: none;
}